build
debug_build
__pycache__
**/.vscode/**
games
cutechess
results
*.pgn
.DS_Store
nnue/*
!nnue/config.json.example
!nnue/data/
nnue/data/*
!nnue/data/combined/
nnue/data/combined/*
!nnue/data/combined/*.txt
config.json
datagen.log
scripts/ssh_hetzner.sh
scripts/sync_from_server.sh