build
debug_build
__pycache__
**/.vscode/**
games
cutechess
/results/*
!/results/benchmarking/
/results/benchmarking/*/
!/results/elo_testing/
/results/elo_testing/*/
*.pgn
.DS_Store
nnue/*
!nnue/config.json.example
!nnue/nnue.bin
!nnue/model/
nnue/model/**/*.pt
config.json
datagen.log
scripts/ssh_hetzner.sh
scripts/sync_from_server.sh