nnue/data/combined/*.txt filter=lfs diff=lfs merge=lfs -text
nnue/nnue.bin filter=lfs diff=lfs merge=lfs -text
nnue/model/**/*.bin filter=lfs diff=lfs merge=lfs -text
unc_research/models/*.bin filter=lfs diff=lfs merge=lfs -text
unc_research/models/unc_head/**/nnue_unc.bin filter=lfs diff=lfs merge=lfs -text
nnue/nnue_unc.bin filter=lfs diff=lfs merge=lfs -text
