{
  "gmail_app_password": "xxxx xxxx xxxx xxxx",
  "games": 5000,
  "st": 0.5,
  "workers": 8,
  "val_fraction": 0.1,
  "output": "nnue/data",
  "email": "you@gmail.com",
  "name": "macbook",
  "training": {
    "epochs": 200,
    "batch": 16384,
    "lr": 0.001,
    "wd": 1e-6,
    "lmbda": 0.7,
    "val_split": 0.05
  }
}
